@media only screen and (max-width: 600px) {
	#title {
		font-size: 2.5rem;
	}
}

.construction-wrapper {
	height: 100vh;
	width: 100vw;
}

.primary {
	color: var(--accent);
}

.fedora {
	color: #8caaee;
}

.red {
	color: #e78284;
}

.construction-palette {
	margin-top: 0.3rem;
	display: flex;
}

.type-wrapper {
	color: var(--accent);
	margin-bottom: 2rem;
}

.btn {
	border-radius: 15px;
	background-color: #85c1dc;
  
	border: none;
  
	padding: 4px;

	transition: 0.5s;
}

.btn:hover {
	transform: scale(1.05);
	box-shadow: rgba(0, 0, 0, 0.35) 0 1px 15px;
}

.hover-large {
	transition: 0.25s;
}

.hover-large:hover {
	transform: scale(1.05);
}