@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
}

html {
  --base: #303446; 
  --mantle: #b9a4d5; 
  --text: #c6d0f5;
  --accent: #f4b8e4;

  background-color: var(--base);
}

p {
  color: var(--text);
}