@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  --base: #303446; 
  --crust: #232634; 
  --text: #c6d0f5;
  --accent: #f4b8e4;

  background-color: var(--base);
}

p {
  color: var(--text);
}