.nav {
    color: var(--text);
    background-color: var(--crust);
}

.nav-btn {
    padding: 5px;
    border-radius: 10px; 
    transition: 0.25s;
}

.nav-btn:hover {
    background-color: #838ba7;
}

.primary-btn {
    color: white;
    background-color: var(--accent);
}

.primary-btn:hover {
    background-color: #facdee;
}